.blog-post-container {
    max-width: 800px;
    margin: 40px auto;
    background-color: rgb(219, 223, 223);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.1);
    color: #333;
}

.title {
    text-align: center;
    color: #333;
}

.author-info ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

.author-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}